/* Coolors Exported Palette - coolors.co/ffba49-20a39e-ef5b5b-23001e-a4a9ad */

/* HSL */
$color1: hsla(37%, 100%, 64%, 1);
$color2: hsla(178%, 67%, 38%, 1);
$color3: hsla(0%, 82%, 65%, 1);
$color4: hsla(309%, 100%, 7%, 1);
$color5: hsla(207%, 5%, 66%, 1);

/* RGB */
$color1: rgba(255, 186, 73, 1);
$color2: rgba(32, 163, 158, 1);
$color3: rgba(239, 91, 91, 1);
$color4: rgba(35, 0, 30, 1);
$color5: rgba(164, 169, 173, 1);