* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-size: 15px/1.5;
    background-color: rgba(164, 169, 173, 1);
    margin: 0; padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 700px;
}

.highlight {
    color:  rgba(239, 91, 91, 1);
}

.dark {
    background-color: #35424a;
    color: #f4f4f4;
    padding: 2vh;
}

header {
    background-color: #35424a;
    color: #f4f4f4;
    min-height: 90px;
    border-bottom: rgba(255, 186, 73, 1) 4px solid;
}
header a {
    color: #f4f4f4;
    font-size: 18px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

header nav {
    float: right;
    margin-top: 30px;
}

header nav a {
    display: inline-block;
    padding: 0 1em;
}

#branding {
    float: left;
}

#branding img {
    height: 40px;
    display: block;
    float: left;
    margin: 0 10px 0 20px;
    transform: rotate(30deg);
}

/* ***************** */
/* Showcase -tyylit */
/* ***************** */

#showcase {
    background-image: url('img/bank.jpg');
    min-height: 250Spx;
    color: #f4f4f4;
    text-align: center;
    padding: 60px 5px;
}

#showcase h1 {
    width: 5em;
    margin: 0 auto;
    font-size: 60px;
   
}

#showcase p {
    font-size: 22px;
}