* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-size: 15px/1.5;
    background-color: rgba(164, 169, 173, 1);
    margin: 0; padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 700px;
}

.highlight {
    color:  rgba(239, 91, 91, 1);
}

.dark {
    background-color: #35424a;
    color: #f4f4f4;
    padding: 2vh;
}

.menu-toggle {
    display: none;
}

header {
    background-color: #35424a;
    color: #f4f4f4;
    min-height: 90px;
    border-bottom: rgba(255, 186, 73, 1) 4px solid;
}

header a {
    color: #f4f4f4;
    font-size: 18px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

header nav {
    float: right;
    margin-top: 30px;
}

header nav a {
    display: inline-block;
    padding: 0 1em;
}

#branding {
    float: left;
}

#branding img {
    height: 40px;
    display: block;
    float: left;
    margin: 0 10px 0 20px;
    transform: rotate(30deg);
}

/* ***************** */
/* Showcase -tyylit */
/* ***************** */

#showcase {
    background-image: url('img/bank.jpg');
    color: #f4f4f4;
    text-align: center;
    padding: 60px 5px;
}

.showcase-container {
    background-color: rgb(0,0,0,0.7);
    width: 40%;
    min-width: 20em;
    margin: 0 auto;
    padding: 1em;
}

#showcase h1 {
    width: 5em;
    margin: 0 auto;
    font-size: 60px;
   
}

#showcase p {
    font-size: 22px;
}

/* ************* */
/* Money -tyylit */
/* ************* */
#money {
    padding: 0;
    height: auto;
    overflow: hidden;
    clear: both;
    background-color: #35424a;
    color: #f4f4f4;
}

#money h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.3em 0;
    text-align: center;
}

#money .calculator {
    font-size: 1.6em;
    padding: 0.5em 0;
    margin: 0;
    text-align: center;
}

.calculator input, .calculator select {
    padding: 5px;
    border-radius: 5px;;
}


/* ************* */
/* Boxes -tyylit */
/* ************* */

#boxes {
    clear: both;
    margin: 30px 0;
}

.box {
    width: 33%;
    float: left;
    padding: 10px 15px;
    text-align: center;
}

.box img {
    height: 140px;
    width: auto;
}


/* ************** */
/* Footer -tyylit */
/* ************** */
footer {
    background-color: rgba(35, 0, 30, 1);
    color: rgba(239, 91, 91, 1);
    border-top: rgba(255, 186, 73, 1) 4px solid;
    text-align: center;
    clear: both;
    padding: 20px;
}